* {
  padding: 0;
  margin: 0;
}

/*body {
  padding: 8px 16px;
}*/

h1 {
  display: flex;
  justify-content: center;
  color: rgb(243, 185, 118);
  margin-bottom: 0px;
}

/*.navbar-logo {
  padding-top: 15px;
}*/

.navbar-logo__img {
  height: 120px;
  width: auto;
  margin-right: 16px;
}

.modal-container-price {
  cursor: pointer;
}

.card {
  margin-top: 2px;
}
h5 {
  margin: 0;
}

.card-ingredient-body {
  width: 100%;
  height: fit-content;
  padding: 1.15rem;
}

.mb-5,
.my-5 {
  margin: 3px 0 0 0 !important;
}

.card-item {
  padding: 18.4px;
}

.modal-container-thin-pizza {
  display: flex;
}

.modal-container-price {
  padding-left: 15px;
}

.modal-container-done {
  padding-left: 5px;
}
